.animate-container {
    padding-top: 100px;
    text-align: center;
}

.animate-container p {
    margin: 10px auto;
    color: #000;
    font-size: 30px;
}

.animate-container p.descripcion {
    font-size: 20px;
    max-width: 800px;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    font-family: sans-serif;
}

.animate-container .button {
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 10px 15px;
    background: transparent;
    color: #fff;
    display: inline-block;
    text-align: center;
    box-shadow: -1px -2px 30px 5px rgba(255, 255, 255, 1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.typewriter {
    font-size: 2rem;
    color: #000000;
    font-family: sans-serif;
    max-width: 100%;
    min-height: 60px;
    line-height: 1.2;
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 1024px) {
    .animate-container {
        padding-top: 75px;
    }

    .animate-container h1 {
        font-size: 6rem;
    }

    .animate-container p,
    .animate-container p.descripcion {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .animate-container {
        padding-top: 50px;
    }

    .animate-container h1 {
        font-size: 5rem;
    }

    .animate-container p,
    .animate-container p.descripcion {
        font-size: 18px;
        width: 90%;
    }

    .typewriter {
        font-size: 1.5rem;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .animate-container {
        padding-top: 50px;
    }

    .animate-container h1 {
        font-size: 4rem;
    }

    .animate-container p,
    .animate-container p.descripcion {
        font-size: 1.1rem;
        width: 95%;
    }

    .animate-container .button {
        padding: 8px 12px;
    }

    .typewriter {
        font-size: 1.5rem;
        min-height: 70px;
        line-height: 1.4;
    }
}

@media (max-width: 380px) {
    .animate-container {
        padding-top: 20px;
    }

    .animate-container h1 {
        font-size: 3rem;
    }

    .animate-container p,
    .animate-container p.descripcion {
        font-size: 1rem;
    }

    .animate-container .button {
        padding: 6px 10px;
    }

    .typewriter {
        font-size: 1.2rem;
        min-height: 60px;
        line-height: 1.5;
    }
}